.wrapper{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    background-color: aqua;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    /* background-color: blueviolet; */
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}