.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;

    /* height: 70vh; */
    /* border: 1px solid black; */
    /* background-color: rgb(144, 0, 255); */
    /* overflow: hidden; */
}
.content{
    width: 18vw;
    height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 2vh; */
    /* background-color: blueviolet; */
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h3{
    color: gray;
}
.menu a{
    color: var(--prim-col);
    text-decoration: none;
}
.form{
    height: 70%;
    /* padding: 1vh; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    /* gap: ; */
    /* text-align: center; */
    width: 100%;
}
.form span{
    color: black;
}
.form span a{
    color: var(--prim-col);
    text-decoration: none;
}
.password , .name{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    
    
}
.name input , .password input{
    padding: 1vh ;
    width: 100%;
    border-radius: 1vh;
    outline: #d0d0d0;
    border: 0.2vh solid #d0d0d0;
    
}
.password i{
    position: absolute;
    right: 0.3vw;
    cursor: pointer;
    color: #d0d0d0;
    /* text-align: center; */
}
.password .show{
    display: none;
}
.btn{
    width: 100%;
    padding: 1vh ;
    border-radius: 1vh;
    border: none;
    background-color: #d0d0d0;
    color: white;
}